<div class="details-body">
	<div class="body-contant" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="space-around ">

		<div class="contant-box box education " fxFlex.lg="calc(30% - 10px )" fxFlex.lt-lg="calc(45% - 10px )" fxFlex.xs="calc(100% - 10px )">
			<h2>
				<mat-icon>school</mat-icon>
				ОСВІТА
			</h2>
			<h3>
				Фізіотерапевт-Реабілітолог (бакалавр)
			</h3>
			<h4>
				WSZiA в Замосці ( Польща )
			</h4>
			<h4>
				2013-16
			</h4>
			<h3>
				Фізіотерапевт-Реабілітолог (магістр)
			</h3>
			<h4>
				WSZiA в Замосці ( Польща )
			</h4>
			<h4>
				2016-19
			</h4>
		</div>

		<div class="contant-box box " fxFlex.lg="calc(30% - 10px )" fxFlex.lt-lg="calc(45% - 10px )" fxFlex.xs="calc(100% - 10px )">
			<h2>
				<mat-icon>wb_incandescent</mat-icon>НАВИЧКИ

			</h2>
			<h3>
				HTML/CSS
				<mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
			</h3>
			<h3>
				ANGULAR
				<mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
			</h3>
			<h3>
				BOOTSTRAP
				<mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
			</h3>
			<h3>
				JAVASCRIPT
				<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
			</h3>
			<h3>
				SPA
				<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
			</h3>

		</div>


		<div class="contant-box" fxFlex.lg="calc(30% - 10px )" fxFlex.lt-lg="calc(45% - 10px )" fxFlex.xs="calc(100% - 10px )">
			<h2>
				<mat-icon>tag_faces</mat-icon>
				ІНТЕРЕСИ
			</h2>
			<div class="img-box" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="space-between ">
				<div class="box-img" fxFlex="30%" fxFlex.sm="30%">
					<img src="/assets/icon/2.png" alt="img">
					<h3 class="img-text">ВЕЛОПРОГУЛКИ</h3>
				</div>
				<div class="box-img" fxFlex="30%" fxFlex.sm="30%">
					<img src="/assets/icon/3.png" alt="img">
					<h3 class="img-text">ПОДОРОЖУВАТИ</h3>
				</div>
				<div class="box-img" fxFlex="30%" fxFlex.sm="30%">
					<img src="/assets/icon/4.png" alt="img">
					<h3 class="img-text">ФОТОГРАФУВАТИ</h3>
				</div>
				<div class="box-img" fxFlex="30%" fxFlex.sm="30%">
					<img src="/assets/icon/5.png" alt="img">
					<h3 class="img-text">ПІДНІМАТИСЬ В ГОРИ</h3>
				</div>
				<div class="box-img" fxFlex="30%" fxFlex.sm="30%">
					<img src="/assets/icon/6.png" alt="img">
					<h3 class="img-text">ПОДОРОЖУВАТИ НА АВТО</h3>
				</div>
				<div class="box-img" fxFlex="30%" fxFlex.sm="30%">
					<img src="/assets/icon/1.png" alt="img">
					<h3 class="img-text">ГРАТИ В PSP</h3>
				</div>
			</div>
		</div>

	</div>
</div>