
<div class="body" fxFlex="row wrap" fxLayoutGap="1%" fxLayout=" grid" fxLayoutAlign="space-between ">
	<div class="my-img" fxFlex="30%"  fxFlex.sm="30%" fxFlex.xs="100%" >
		<img src="./assets/about-me/foto.jpg" alt="my-foto" class="my-foto">
		<div class="my-info">

			<span class="info">FRONT AND DEVELOPER</span>
			<span class="info" ><mat-icon class="icon" > call</mat-icon> MOBILE</span>
			<h3>096-12-55-315</h3>
			<span  class="info" > <mat-icon  class="icon">alternate_email</mat-icon> MAIL</span>
			<h3>yaresik.oleg@ukr.net</h3>
			<span  class="info" > <mat-icon class="icon"> place</mat-icon> ADDRES</span>
			<h3>м.Новояворівськ/обл.Львівська</h3>

		</div>
	</div>
	
	<div class="aboute-me" fxFlex="65%"   fxFlex.sm="60%" fxFlex.xs="100%" >
		<div>
			<app-me-title></app-me-title>
		</div>
		<div class="me-info">
		<app-me-info></app-me-info>
		</div>
		<div class="me-education">
<app-me-education></app-me-education>
		</div>
	</div>
</div>