<!--	fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center" >
	<div class="icon-mas-icon" fxFlex="15%" fxFlex.xs="33%" fxFlex.sm="33%" fxFlex.xs="100%"-->

<div class="footer-body" >
	<div class="body-contant" 
	fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="space-between center" >
		<div class="contant-info contant"  
		fxFlex="30%" fxFlex.xs="33%" fxFlex.sm="30%"  fxFlex.xs="100%"
		 >
			<a href="https://www.facebook.com/oleg.yaresyk" class="info-img" target="_blank">
				<img class="img-info" src="./assets/footer/fb.png" alt="facebook">
			</a>

			<a href="https://instagram.com/yaresyk_oleg?igshid=YmMyMTA2M2Y=" class="info-img" target="_blank">
				<img class="img-info" src="./assets/footer/inst.png" alt="Instagram">
			</a>
			<a href="https://web.telegram.org/z/" class="info-img" target="_blank" >
				<img class="img-info" src="./assets/footer/tg.png" alt="Telegram">
			</a>
			<a href="https://github.com/Yaresyk" class="info-img" target="_blank">
				<img class="img-info" src="./assets/footer/github.png" alt="GitHub">
			</a>
		</div>
		<div class="contant-zsu  contant "
		fxFlex="30%" fxFlex.xs="33%" fxFlex.sm="30%"   fxFlex.xs="100%">
			<a target="_blank" style="text-decoration: none;"
				href="https://bank.gov.ua/ua/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi">
				<div class="zsu-contant">
					<h2> HELP ZSU </h2>
					<br>
					<img style="width:70px;" src="./assets/footer/pay.PNG" alt="LOTOS">
				</div>
			</a>
		</div>

		<div class="contant-contacts contant contacts "
		fxFlex="30%" fxFlex.xs="33%" fxFlex.sm="30%"  fxFlex.xs="100%" >
			<h2>МОЇ КОНТАКТИ</h2>
			<p>(096)-12-55-315</p>
			<p>yaresik.oleg@ukr.net</p>
		</div>
	</div>
	
</div>